.App {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(129, 230, 248);
    font-size: 1rem;
    position: relative;
  }
  
  .main_content {
    width: 100%;
    background-color: rgb(129, 230, 248);
    min-height: calc(100vh - 70px);
    position: relative;
    margin: 0 auto;
  }
  
  /* AUTH LAYOUT STYLES */
  .auth_header{
    padding: 0 3rem;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    background-color: #ffd900;;
  }
  .logo{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: #ffffff;
    letter-spacing: 1px;
  }